<h4>
    Login
</h4>

<form method="post">
    <label>Usuario:</label>
    <input type="text" name="username" placeholder="User Name" class="form-control" />
    <label>Password:</label>
    <input type="text" name="password" placeholder="Pass" class="form-control" />
    <button class="btn btn-info">
        Login
    </button>
</form>

<h4>
    @ViewData["MENSAJE"]
</h4>